.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid transparent;
  background-color: var(--color-bg);
  z-index: 10;
}

.header__inner {
  width: 100%;
  height: 100%;
}

.nav {
  font-size: 2.4rem;
  height: 100%;
}

.nav__list {
  list-style: none;
  height: 100%;

  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 6rem;
  justify-content: center;
  align-items: center;

  line-height: 1;
}

.nav__item {
}

.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-default);
  font-weight: 500;
  font-size: var(--font-size-l);

  transition: all 0.2s;
}

.nav__link:hover,
.nav__link:active,
.nav__link:focus {
  color: var(--color-primary);
}

.nav__link:focus {
  outline: none;
}

.nav__link--main:link,
.nav__link--main:visited {
  color: var(--color-primary);
  font-size: var(--font-size-xl);
}

.nav__link--main:focus {
  color: var(--color-secondary);
}
