.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    border-bottom: 1px solid transparent;
    /* border: 2px solid red; */
}

.header__inner {
    width: 100%;
    height: 100%;
}

.nav {
  font-size: 2.4rem;
  height: 100%;
}

.nav__list {
  list-style: none;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 6rem;
  justify-content: center;
  align-content: center;
}

.nav__item {
}

.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-default);
}
