:root {
  /* COLORS */
  --color-primary: #c33130;
  --color-secondary: #70C737;
  --text-default: #333333;
  --color-bg: #f4f1ea;

  --grey-xs: #E1E1E1;
  /* SIZES */
  --header-height: 10rem;
  /* FONTS */
  --font-size-default: 1.6rem;
  --font-size-m: 1.8rem;
  --font-size-l: 2.4rem;
  --font-size-xl: 2.8rem;
}

@font-face {
    font-family: "Oswald";
    src: url("./assets/fonts/Oswald-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Oswald";
    src: url("./assets/fonts/Oswald-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Oswald";
    src: url("./assets/fonts/Oswald-SemiBold.ttf");
    font-weight: 600;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  font-family: "Oswald", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: var(--font-size-default);
  color: var(--text-default);

  background-color: var(--color-bg);
}

.container {
  width: 100%;
  height: 100%;

  max-width: 124rem;
  padding: 0 1.5rem;
  margin: 0 auto;

  background-color: inherit;
}
